<div style="background-color:lightskyblue;">

  <p>
    {{(authUser$|async)?.name + '' +(authUser$|async)?.lastName}}
    <br>
    {{(authUser$|async)?.email}}
  </p>
</div>
<mat-nav-list>

<mat-list-item 
routerLink="home"
routerLinkActive 
#homeLink="routerLinkActive"
[activated]="homeLink.isActive">
  <a >Home</a>
</mat-list-item>
<mat-list-item 
routerLink="users"
routerLinkActive 
#usuariosLink="routerLinkActive"
[activated]="usuariosLink.isActive">
  <a >Usuarios</a>
</mat-list-item>
<mat-list-item 
routerLink="courses"
routerLinkActive 
#coursesLink="routerLinkActive"
[activated]="coursesLink.isActive">
  <a >Cursos</a>
</mat-list-item>
<mat-list-item   
routerLink="enrollments"
routerLinkActive 
#enrollmentsLink="routerLinkActive"
[activated]="enrollmentsLink.isActive"
>
<a >Inscripciones</a>
</mat-list-item>
<mat-list-item (click)="logOut()">
  <a >Cerrar Sesion</a>
</mat-list-item>


</mat-nav-list>